<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">

    <style>
        .layui-layout-admin .layui-header {
            background: #F9F9F9;
            border-bottom: 6px solid #1AA094;
        }

        .layui-header .layui-main .logo {
            height: 60px;
        }
        .layui-header .layui-main .logo img {
            max-height: 60px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-main">
            <a class="logo" href="/">
                <img src="/static/layui/images/logo.png" alt="layui">
            </a>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="demo">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">默认展开</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">选项一</a></dd>
                        <dd><a href="javascript:;">选项二</a></dd>
                        <dd><a href="javascript:;">选项三</a></dd>
                        <dd><a href="">跳转项</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">移动模块</a></dd>
                        <dd><a href="">后台模版</a></dd>
                        <dd><a href="">电商平台</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">社区</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div class="layui-main">
            首页
        </div>
    </div>


    <!--脚部-->
    <div class="layui-footer footer footer-demo">
        <div class="layui-main">
            <p>2016 &copy; <a href="/">layui.com</a> LGPL license</p>
        </div>
    </div>
</div>

<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['element', 'layer'], function () {
        //导航的hover效果、二级菜单等功能，需要依赖element模块
        var element = layui.element();
        var layer = layui.layer;
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>